html {
    background-image: url(../img/IMAGEN.png);
    background-position: center;  
}

table {
    width: 70%;
}
body {
    font-family: 'Times New Roman', Times, serif; size: 15cm;
}
body p:hover {
    background-color: pink;
}
.a1 {
   text-decoration: underline; 
}
.b1 {
    text-decoration: line-through;
}
.c1 {
    font-weight: bold;
}
.p1 {
    background-color: red;
}
.p2 {
    background-color: orange;
}
.p3 {
    background-color: yellow;
}
.p4 {
    background-color: yellowgreen;
}
.p5 {
    background-color: greenyellow;
}
.p6 {
    background-color: green;
}
.p7 {
    background-color: mediumaquamarine;
}
.p8 {
    background-color: cyan;
}
.p9 {
    background-color: blue;
}
.p10 {
    background-color: purple;
}

